In [1]:
import pandas as pd
import os
from datetime import datetime
import time

pd.options.display.max_columns = None

In [3]:
import pymysql.cursors

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='minueva09',
                             database='python_01')

OperationalError: (1049, "Unknown database 'python_01'")

In [ ]:
# Cargamos la base
df = pd.read_csv('data.csv')

In [ ]:
df

In [52]:
# Obtener los nombres de las columnas existentes
nombres_columnas = df.columns.tolist()

# Renombrar todas las columnas
nuevos_nombres = ['id','Titulo', 'Cargo']
df.columns = nuevos_nombres

In [53]:
df

     id                      Titulo                                 Cargo
0   101                 Engineering              Research and Development
1   102                 Tool Design              Research and Development
2   103                       Sales                   Sales and Marketing
3   104                   Marketing                   Sales and Marketing
4   105                  Purchasing                  Inventory Management
5   106    Research and Development              Research and Development
6   107                  Production                         Manufacturing
7   108          Production Control                         Manufacturing
8   109             Human Resources  Executive General and Administration
9   110                     Finance  Executive General and Administration
10  111        Information Services  Executive General and Administration
11  112            Document Control                     Quality Assurance
12  113           Quality Assurance                     Quality Assurance
13  114  Facilities and Maintenance  Executive General and Administration
14  115      Shipping and Receiving                  Inventory Management
15  116                   Executive  Executive General and Administration

In [54]:
cursor.execute(query_create_table)
result = cursor.fetchone()

sql = "SHOW TABLES"
cursor.execute(sql)
result = cursor.fetchall()
print(result)

(('usuarios',),)

In [55]:
query_create_table = """
CREATE TABLE IF NOT EXISTS usuarios (
  id int(11) NOT NULL AUTO_INCREMENT,
  Titulo varchar(50),
  Cargo varchar(50),
  PRIMARY KEY (id)
);

"""

In [56]:
cursor.execute(query_create_table)
result = cursor.fetchone()

sql = "SHOW TABLES"
cursor.execute(sql)
result = cursor.fetchall()
print(result)

(('usuarios',),)

In [57]:
# Cramos el nombre de las columnas
name_colum = "`,`".join([str(i) for i in df.columns.tolist()])

# iteramos en cada linea del df para tomar cada uno de los valores e ingestarlos
inicio = time.time()
for i, row in df.iterrows():
    sql = "INSERT INTO `usuarios` (`" +name_colum + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))
    connection.commit()
fin = time.time()
print(fin-inicio)

IntegrityError: (1062, "Duplicate entry '101' for key 'usuarios.PRIMARY'")

In [58]:
cursor.execute(query_create_table)
result = cursor.fetchone()

sql = "SELECT * FROM usuarios"
cursor.execute(sql)
result = cursor.fetchall()
print(result)

((101, 'Engineering', 'Research and Development'), (102, 'Tool Design', 'Research and Development'), (103, 'Sales', 'Sales and Marketing'), (104, 'Marketing', 'Sales and Marketing'), (105, 'Purchasing', 'Inventory Management'), (106, 'Research and Development', 'Research and Development'), (107, 'Production', 'Manufacturing'), (108, 'Production Control', 'Manufacturing'), (109, 'Human Resources', 'Executive General and Administration'), (110, 'Finance', 'Executive General and Administration'), (111, 'Information Services', 'Executive General and Administration'), (112, 'Document Control', 'Quality Assurance'), (113, 'Quality Assurance', 'Quality Assurance'), (114, 'Facilities and Maintenance', 'Executive General and Administration'), (115, 'Shipping and Receiving', 'Inventory Management'), (116, 'Executive', 'Executive General and Administration'), (117, 'Engineering', 'Research and Development'), (118, 'Tool Design', 'Research and Development'), (119, 'Sales', 'Sales and Marketing'), (120, 'Marketing', 'Sales and Marketing'), (121, 'Purchasing', 'Inventory Management'), (122, 'Research and Development', 'Research and Development'), (123, 'Production', 'Manufacturing'), (124, 'Production Control', 'Manufacturing'), (125, 'Human Resources', 'Executive General and Administration'), (126, 'Finance', 'Executive General and Administration'), (127, 'Information Services', 'Executive General and Administration'), (128, 'Document Control', 'Quality Assurance'), (129, 'Quality Assurance', 'Quality Assurance'), (130, 'Facilities and Maintenance', 'Executive General and Administration'), (131, 'Shipping and Receiving', 'Inventory Management'), (132, 'Executive', 'Executive General and Administration'))

In [59]:
df2 = pd.DataFrame(result)

In [61]:
df2

      0                           1                                     2
0   101                 Engineering              Research and Development
1   102                 Tool Design              Research and Development
2   103                       Sales                   Sales and Marketing
3   104                   Marketing                   Sales and Marketing
4   105                  Purchasing                  Inventory Management
5   106    Research and Development              Research and Development
6   107                  Production                         Manufacturing
7   108          Production Control                         Manufacturing
8   109             Human Resources  Executive General and Administration
9   110                     Finance  Executive General and Administration
10  111        Information Services  Executive General and Administration
11  112            Document Control                     Quality Assurance
12  113           Quality Assurance                     Quality Assurance
13  114  Facilities and Maintenance  Executive General and Administration
14  115      Shipping and Receiving                  Inventory Management
15  116                   Executive  Executive General and Administration
16  117                 Engineering              Research and Development
17  118                 Tool Design              Research and Development
18  119                       Sales                   Sales and Marketing
19  120                   Marketing                   Sales and Marketing
20  121                  Purchasing                  Inventory Management
21  122    Research and Development              Research and Development
22  123                  Production                         Manufacturing
23  124          Production Control                         Manufacturing
24  125             Human Resources  Executive General and Administration
25  126                     Finance  Executive General and Administration
26  127        Information Services  Executive General and Administration
27  128            Document Control                     Quality Assurance
28  129           Quality Assurance                     Quality Assurance
29  130  Facilities and Maintenance  Executive General and Administration
30  131      Shipping and Receiving                  Inventory Management
31  132                   Executive  Executive General and Administration