## Demo funciones pandas

In [1]:
%matplotlib inline
# importando pandas usando la convenci√≥n
import pandas as pd

In [2]:
# Cargar base de datos imdb de titulos de peliculas
titulos = pd.read_csv('/home/facundo/Documents/Coding/IPIA_Python_1/Codigo/230522_IPIA_C6_Python/230608/Pandas/Ejercicios/Ejercicios_Pandas_Peliculas/data/titles.csv' )
titulos.head()

                                   title  year
0                                 Mahler  1974
1           Ogon, voda i... mednye truby  1968
2  Ana Nojoom bent alasherah wamotalagah  2014
3                      Malu de Bicicleta  2010
4             Nazareno Apostol: Boy Ahas  1989

In [3]:
pd.__version__

'2.0.2'

In [4]:
# Cargar base de datos de elenco de peliculas, de imdb
elenco = pd.read_csv('/home/facundo/Documents/Coding/IPIA_Python_1/Codigo/230522_IPIA_C6_Python/230608/Pandas/Ejercicios/Ejercicios_Pandas_Peliculas/data/cast.csv', encoding='utf-8')
elenco.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [5]:
# Cuantas peliculas estan listadas en el dataframe de titulos?
listado = len(titulos)
listado

230407

In [6]:
titulos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230407 entries, 0 to 230406
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   230406 non-null  object
 1   year    230407 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.5+ MB

### Revisaremos comandos basicos pandas, sobre estas series

### Cuales son las peliculas mas antiguas listadas en titulos?

In [8]:
mas_antiguas = titulos.sort_values('year')

mas_antiguas.head()

                                                    title  year
13229                                          Miss Jerry  1894
103233                                 The Startled Lover  1898
133020     Reproduction of the Corbett and Jeffries Fight  1899
51528                                Family Troubles (II)  1900
195127  Pierrot's Problem, or How to Make a Fat Wife O...  1900

### Ejercicios

#### Cuantas peliculas estan listadas por el nombre "Dracula" ?
6

In [9]:
dftitle = titulos

dracula = (dftitle['title'] == 'Dracula').sum()
print(dracula)

6

#### Titulos mas comunes en la historia filmografica
Hamlet                  19

Carmen                  16

Macbeth                 15

Maya                    11

The Outsider            11

Hero                    11

Othello                 11

The Three Musketeers    11

Anna                    10

Vengeance               10

Name: title, dtype: int64

In [56]:
masComunes = dftitle['title'].value_counts().sort_values(ascending=False).head(10)
masComunes

title
Hamlet                  19
Carmen                  16
Macbeth                 15
Maya                    11
The Outsider            11
Hero                    11
Othello                 11
The Three Musketeers    11
Honeymoon               10
She                     10
Name: count, dtype: int64

#### Cual fue la primer pelicula hecha titulada "Romeo and Juliet" ?
 	title 	year
124702 	Romeo and Juliet 	1916

In [59]:
#firstRyJ = dftitle[dftitle['title']=='Romeo and Juliet']['year'].min()
RyJ = dftitle.loc[dftitle['title']=='Romeo and Juliet']

a = RyJ.sort_values('year', ascending=True)
a.head(1)

                   title  year
124702  Romeo and Juliet  1916

#### Listar todas las peliculas que contengan la palabra "Exorcist" 
ordenadas de la mas vieja a la mas reciente.

In [61]:
#dftitle['title'] = dftitle['title'].fillna('')
exorcist = dftitle[dftitle['title'].str.contains('Exorcist')].sort_values('year', ascending=True)

exorcist

                                         title  year
88003                             The Exorcist  1973
49658                  O Exorcista de Mulheres  1974
140519                Exorcist II: The Heretic  1977
220073                        Kung Fu Exorcist  1978
17375                         The Exorcist III  1990
132451                        Teenage Exorcist  1991
117797                 Exorcist: The Beginning  2004
94189        Dominion: Prequel to the Exorcist  2005
209250  Costa Chica: Confession of an Exorcist  2006
86354                      Exorcist Chronicles  2007
130686                      The Disco Exorcist  2011
57932                      Exorcist Chronicles  2013
69974                           Shark Exorcist  2015
51101                            Bad Exorcists  2015
151850                              Exorcistas  2015
60700                      Accidental Exorcist  2016
161093                       American Exorcist  2016
195615                    Diary of an Exorcist  2016
228642                  Exorcist House of Evil  2016

#### Cuantas peliculas fueron hechas en el a√±o 1950?
1081

In [13]:
cincuenta = (dftitle['year']==1950).sum()
cincuenta

1081

#### Cuantas peliculas fueron hechas en el a√±o 1970?
2106

In [63]:
len(dftitle[dftitle['year']==1970])

2106

#### Cuantas peliculas fueron hechas de 1950 a 1959
12606

In [15]:
title50s = (dftitle['year']>= 1950)&(dftitle['year']<= 1959)

total = sum(title50s)
total

12606

#### En que a√±os alguna pelicula llamada "Batman" se presento
 	title 	year
55819 	Batman 	1989

111048 	Batman 	1943

In [16]:
batman=dftitle[dftitle['title']=='Batman']
batman

         title  year
55819   Batman  1989
111048  Batman  1943

#### Cuantos roles o papeles hubo en la pelicula "The Godfather"
76

In [17]:
dfelenco = elenco
dfelenco.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [18]:
roles = (dfelenco['title']=='The Godfather').sum()
roles

76

#### Cuantos papeles en la pelicula "The Godfather" no estan clasificados en algun valor "n"

42

In [19]:
godfather = dfelenco[dfelenco['title']=='The Godfather']
unclassified = godfather['n'].isnull().sum()
unclassified

42

#### Cuantos papeles en la pelicula "The Godfather" si estuvieron clasificados con un valor "n"
34

In [20]:
godfather = dfelenco[dfelenco['title']=='The Godfather']
classified = godfather['n'].notnull().sum()
classified

34

#### Mostrar el elenco completo de la pelicula "2001: A Space Odyssey" 
ordenado por su clasificasi√≥n "n", ignorando los papeles que 
no se les asigno ningun valor "n"

In [21]:
spaceodyssey = dfelenco[dfelenco['title']=='2001: A Space Odyssey']

classified = spaceodyssey[spaceodyssey['n'].notnull()].sort_values(by='n', ascending=True)
classified

,title,year,name,type,character,n
602795,2001: A Space Odyssey,1968,Keir Dullea,actor,Dr. Dave Bowman,1.0
1288927,2001: A Space Odyssey,1968,Gary Lockwood,actor,Dr. Frank Poole,2.0
2113186,2001: A Space Odyssey,1968,William Sylvester,actor,Dr. Heywood R. Floyd,3.0
1823947,2001: A Space Odyssey,1968,Daniel Richter,actor,Moon-Watcher,4.0
1872093,2001: A Space Odyssey,1968,Leonard Rossiter,actor,Dr. Andrei Smyslov,5.0
3464754,2001: A Space Odyssey,1968,Margaret Tyzack,actress,Elena,6.0
151781,2001: A Space Odyssey,1968,Robert Beatty,actor,Dr. Ralph Halvorsen,7.0
2101643,2001: A Space Odyssey,1968,Sean Sullivan,actor,Dr. Bill Michaels,8.0
1775057,2001: A Space Odyssey,1968,Douglas Rain,actor,HAL 9000,9.0
1469910,2001: A Space Odyssey,1968,Frank Miller,actor,Mission Controller,10.0
2310523,2001: A Space Odyssey,1968,Bill Weston,actor,Astronaut,11.0
197975,2001: A Space Odyssey,1968,Ed Bishop,actor,Aries-1B Lunar Shuttle Captain,12.0
153470,2001: A Space Odyssey,1968,Glenn Beck,actor,Astronaut,13.0
788106,2001: A Space Odyssey,1968,Alan Gifford,actor,Poole's Father,14.0
2787922,2001: A Space Odyssey,1968,Ann Gillis,actress,Poole's Mother,15.0
2572025,2001: A Space Odyssey,1968,Edwina Carroll,actress,Aries-1B Stewardess,16.0
2529579,2001: A Space Odyssey,1968,Penny Brahms,actress,Stewardess,17.0
2690543,2001: A Space Odyssey,1968,Heather Downham,actress,Stewardess,18.0
1302983,2001: A Space Odyssey,1968,Mike Lovell,actor,Astronaut,19.0
85047,2001: A Space Odyssey,1968,John (III) Ashley,actor,Ape,20.0
161571,2001: A Space Odyssey,1968,Jimmy Bell,actor,Ape,21.0
373027,2001: A Space Odyssey,1968,David Charkham,actor,Ape,22.0
514378,2001: A Space Odyssey,1968,Simon Davis,actor,Ape,23.0
515635,2001: A Space Odyssey,1968,Jonathan Daw,actor,Ape,24.0
541763,2001: A Space Odyssey,1968,P?ter Delm?r,actor,Ape,25.0
601760,2001: A Space Odyssey,1968,Terry Duggan,actor,Ape Attacked by Leopard,26.0
702077,2001: A Space Odyssey,1968,David Fleetwood,actor,Ape,27.0
849029,2001: A Space Odyssey,1968,Danny Grover,actor,Ape,28.0
916925,2001: A Space Odyssey,1968,Brian Hawley,actor,Ape,29.0
954413,2001: A Space Odyssey,1968,David Hines,actor,Ape,30.0
1030910,2001: A Space Odyssey,1968,Tony Jackson,actor,Ape,31.0
1074233,2001: A Space Odyssey,1968,John (X) Jordan,actor,Ape,32.0
1329956,2001: A Space Odyssey,1968,Scott MacKee,actor,Ape,33.0
1361809,2001: A Space Odyssey,1968,Laurence Marchant,actor,Ape,34.0
1644362,2001: A Space Odyssey,1968,Darryl Paes,actor,Ape,35.0
1801551,2001: A Space Odyssey,1968,Joe Refalo,actor,Ape,36.0
2273687,2001: A Space Odyssey,1968,Andy Wallace,actor,Ape,37.0
2343583,2001: A Space Odyssey,1968,Bob Wilyman,actor,Ape,38.0
2359428,2001: A Space Odyssey,1968,Richard (II) Woods,actor,Ape Killed by Moon-Watcher,39.0

#### Mostrar el elenco completo ordenado por la clasificacion "n"de la pelicula "Dracula" de 1958

In [131]:
dracula = dfelenco[dfelenco['title']=='Dracula']
year1958 = dracula[dracula['year']==1958]

elenco = year1958.sort_values('n')
elenco

,title,year,name,type,character,n
485197,Dracula,1958,Peter Cushing,actor,Doctor Van Helsing,1.0
1242307,Dracula,1958,Christopher Lee,actor,Dracula,2.0
1242308,Dracula,1958,Christopher Lee,actor,Count Dracula,2.0
822398,Dracula,1958,Michael Gough,actor,Arthur,3.0
3410427,Dracula,1958,Melissa Stribling,actress,Mina,4.0
3069196,Dracula,1958,Carol Marsh,actress,Lucy,5.0
2677557,Dracula,1958,Olga Dickie,actress,Gerda,6.0
2220986,Dracula,1958,John Van Eyssen,actor,Jonathan,7.0
2777216,Dracula,1958,Valerie Gaunt,actress,Vampire Woman,8.0
2731182,Dracula,1958,Janina Faye,actress,Tania,9.0
2444220,Dracula,1958,Barbara Archer,actress,Inga,10.0
1285506,Dracula,1958,Charles Lloyd Pack,actor,Doctor Seward,11.0
1453367,Dracula,1958,George Merritt,actor,Policeman,12.0
2357769,Dracula,1958,George Woodbridge,actor,Landlord,13.0
171732,Dracula,1958,George Benson,actor,Official,14.0
1347640,Dracula,1958,Miles Malleson,actor,Undertaker,15.0
148496,Dracula,1958,Geoffrey Bayldon,actor,Porter,16.0
423307,Dracula,1958,Paul Cole,actor,Lad,17.0
1475047,Dracula,1958,Guy Mills,actor,Coach Driver,NaN
1513434,Dracula,1958,Richard (VIII) Morgan,actor,Coach Driver's Companion,NaN
1524497,Dracula,1958,John (II) Mossman,actor,Hearse Driver,NaN

#### Cuantos papeles fueron listados en la pelicula "The Wizard of Oz" de 1939
128

In [104]:
oz = dfelenco[(dfelenco['title']=='The Wizard of Oz')&(dfelenco['year']==1939)]

len(oz['character'])

128

#### Cuantos papeles de "Bruce Wayne" han sido hechos en la historia de las peliculas
38

In [133]:
bruce = dfelenco[dfelenco['character']=='Bruce Wayne']
len(bruce)

38

#### Cuanta gente ah hecho el papel de "Romeo"
219

In [36]:
romeo = (dfelenco['character']=='Romeo').sum()
romeo

219

#### Cuantos papeles ah hecho "Robert De Niro" en su carrera
103

In [41]:
robert = (dfelenco['name']=='Robert De Niro').sum()
robert

103

#### Listado de papeles de soporte que tuvo el actor "Charlton Heston" en la decada de los 50's, ordenado por a√±o

In [116]:
support = dfelenco[(dfelenco['name']=='Charlton Heston')&(dfelenco['year']>=1950)&(dfelenco['year']<=1959)&(dfelenco['n']==2.0)]
support

,title,year,name,type,character,n
944064,Julius Caesar,1950,Charlton Heston,actor,Antony,2.0
944067,Lucy Gallant,1955,Charlton Heston,actor,Casey Cole,2.0
944080,Ruby Gentry,1952,Charlton Heston,actor,Boake Tackman,2.0
944091,The Far Horizons,1955,Charlton Heston,actor,Lt. William Clark,2.0
944098,The Naked Jungle,1954,Charlton Heston,actor,Christopher Leiningen,2.0
944104,The President's Lady,1953,Charlton Heston,actor,President Andrew Jackson,2.0
944112,The Wreck of the Mary Deare,1959,Charlton Heston,actor,John Sands,2.0

#### Listado de papeles como protagonista que tuvo el actor "Charlton Heston" en la decada de los 60's, ordenado por a√±o de forma descendente

In [117]:
support = dfelenco[(dfelenco['name']=='Charlton Heston')&(dfelenco['year']>=1960)&(dfelenco['year']<=1969)&(dfelenco['n']==1.0)]
support

,title,year,name,type,character,n
944038,55 Days at Peking,1963,Charlton Heston,actor,Maj. Matt Lewis,1.0
944050,Counterpoint,1967,Charlton Heston,actor,Lionel Evans,1.0
944052,Diamond Head,1962,Charlton Heston,actor,Richard 'King' Howland,1.0
944054,El Cid,1961,Charlton Heston,actor,El Cid Rodrigo de Vivar,1.0
944066,Khartoum,1966,Charlton Heston,actor,Gen. Charles 'Chinese' Gordon,1.0
944068,Major Dundee,1965,Charlton Heston,actor,Major Amos Charles Dundee,1.0
944074,Number One,1969,Charlton Heston,actor,Ron 'Cat' Catlan,1.0
944077,Planet of the Apes,1968,Charlton Heston,actor,George Taylor,1.0
944085,The Agony and the Ecstasy,1965,Charlton Heston,actor,Michelangelo,1.0
944101,The Pigeon That Took Rome,1962,Charlton Heston,actor,Captain Paul MacDougall,1.0
944102,The Pigeon That Took Rome,1962,Charlton Heston,actor,Benny the Snatch,1.0
944103,The Pigeon That Took Rome,1962,Charlton Heston,actor,Narrator,1.0
944111,The War Lord,1965,Charlton Heston,actor,Chrysagon,1.0
944120,Will Penny,1967,Charlton Heston,actor,Will Penny,1.0

#### ¬øCuantos papeles para actores hubo en la decada de los 50's?
153998

In [93]:
actors = dfelenco[(dfelenco['type']=='actor')&(dfelenco['year']>1949)&(dfelenco['year']<1960)]
len(actors)

153998

#### ¬øCuantos papeles para actrices hubo en la decada de los 50's ?
56004

In [94]:
actress = dfelenco[(dfelenco['type']=='actress')&(dfelenco['year']>1949)&(dfelenco['year']<1960)]
len(actress)

56004

#### ¬øCuantos papeles protagonicos existen desde el principio de la historia filmatografica hasta 1970 ?
51531

In [130]:
len(dfelenco[(dfelenco['n']==1.0)&(dfelenco['year']<=1970)])

51531